@import url("assets/fonts/BigJohnSlimJoe/BIGJOHN.otf");
@import url("assets/fonts/BigJohnSlimJoe/SlimJoe.otf");
@import url("assets/fonts/Poppins/Poppins-Regular.ttf");
@import url("assets/fonts/Poppins/Poppins-Black.ttf");
@import url("assets/fonts/Poppins/Poppins-Bold.ttf");
@import url("assets/fonts/Poppins/Poppins-ExtraBold.ttf");
@import url("assets/fonts/Poppins/Poppins-ExtraLight.ttf");
@import url("assets/fonts/Poppins/Poppins-Light.ttf");
@import url("assets/fonts/Poppins/Poppins-Medium.ttf");
@import url("assets/fonts/Poppins/Poppins-SemiBold.ttf");
@import url("assets/fonts/Poppins/Poppins-Thin.ttf");
#sectionAbout h2, #sectionSkills h2, #sectionPortfolio h2, #portfolioBody h2 {
  font-size: 10em;
  font-family: "Big John";
  margin-bottom: 0; }

#section1 h1 {
  font-size: 7em;
  font-family: "Big John";
  color: #fff; }

@media (max-width: 992px) {
  #sectionAbout h2, #sectionSkills h2, #sectionPortfolio h2, #portfolioBody h2 {
    font-size: 8em; }

  #section1 h1 {
    font-size: 4em; } }
@media (max-width: 600px) {
  #sectionAbout h2, #sectionSkills h2, #sectionPortfolio h2, #portfolioBody h2 {
    font-size: 3em; }

  #section1 h1 {
    font-size: 2.5em; } }
body, nav {
  box-shadow: none;
  background-color: #F9C0CB; }

main {
  margin-right: 30px;
  margin-left: 30px; }

@media (max-width: 600px) {
  main {
    margin-right: 10px;
    margin-left: 10px; } }
/* ------ NAV ----- */
nav .logo-brand {
  color: #F16A77;
  font-family: "Slim Joe";
  font-size: 1.3em;
  margin: 15px; }
nav .sidenav-trigger {
  color: #F16A77; }
nav ul a {
  font-family: "Poppins";
  color: #F16A77; }
nav ul a:hover {
  background-color: transparent; }

/* ----- SIDE NAV -----*/
.sidenav {
  background-color: #F16A77;
  opacity: 0.8;
  box-shadow: none;
  font-family: "Poppins"; }
  .sidenav li a {
    color: #fff;
    font-size: 3em;
    margin: 5px; }
  .sidenav li a:hover {
    color: #4F64AE;
    background-color: transparent; }
  .sidenav .sidenav-close {
    color: #fff;
    margin: 10px; }
  .sidenav .sidenav-close:hover {
    color: #4F64AE; }

.sidenav-overlay {
  background-color: transparent; }

/* ------ SECTION 1 HOME ----- */
.box {
  height: 600px; }

/* ------ SECTION 2 ABOUT ----- */
#sectionAbout {
  background-image: url(./SVG/formeAbout.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center; }
  #sectionAbout h2 {
    color: #F16A77; }
  #sectionAbout #about {
    display: flex;
    justify-content: center; }
  #sectionAbout p {
    color: #293376;
    max-width: 600px;
    font-size: 1.3em; }

/* ------ SECTION 3 SKILLS  ----- */
#sectionSkills #boxSkills {
  margin-top: 100px;
  /*min-height: 350px;*/ }
#sectionSkills h2 {
  color: #4F64AE; }
#sectionSkills #codeSkills {
  min-height: 350px;
  background-image: url(SVG/codeSkills.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  display: flex;
  justify-content: center; }
  #sectionSkills #codeSkills li {
    color: #F16A77;
    font-size: 0.9em; }
  #sectionSkills #codeSkills li:hover {
    background-image: url(SVG/symbolCode.svg); }
#sectionSkills #designSkills {
  min-height: 350px;
  background-image: url(SVG/designSkills.svg);
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  display: flex;
  justify-content: center; }
  #sectionSkills #designSkills li {
    color: #4F64AE; }
  #sectionSkills #designSkills li:hover {
    background-image: url(SVG/symbolDesign.svg);
    background-repeat: no-repeat; }
#sectionSkills #softSkills {
  min-height: 350px;
  background-image: url(SVG/softSkills.svg);
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  display: flex;
  justify-content: center; }
  #sectionSkills #softSkills li {
    color: #F16A77; }

/* ------ SECTION 4 PORTFOLIO  ----- */
#sectionPortfolio h2 {
  color: #fff; }
  #sectionPortfolio h2 a {
    color: #F16A77; }
  #sectionPortfolio h2 a:hover {
    color: #4F64AE; }

/* ------ PAGE PORTFOLIO  ----- */
#portfolioBody, #navWhite {
  background-color: #fff; }

#portfolioBody h2 {
  color: #F16A77; }
#portfolioBody .portfolioThumbs {
  padding: 15px;
  padding-bottom: 20px;
  padding-top: 20px; }
#portfolioBody .modal {
  width: 80%;
  height: 80%; }
#portfolioBody #closeModal {
  color: #F16A77; }
#portfolioBody h4 {
  font-family: "Big John"; }
#portfolioBody p {
  font-family: "Poppins"; }
