@import url('assets/fonts/BigJohnSlimJoe/BIGJOHN.otf');
@import url('assets/fonts/BigJohnSlimJoe/SlimJoe.otf');
@import url('assets/fonts/Poppins/Poppins-Regular.ttf');
@import url('assets/fonts/Poppins/Poppins-Black.ttf');
@import url('assets/fonts/Poppins/Poppins-Bold.ttf');
@import url('assets/fonts/Poppins/Poppins-ExtraBold.ttf');
@import url('assets/fonts/Poppins/Poppins-ExtraLight.ttf');
@import url('assets/fonts/Poppins/Poppins-Light.ttf');
@import url('assets/fonts/Poppins/Poppins-Medium.ttf');
@import url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
@import url('assets/fonts/Poppins/Poppins-Thin.ttf');


$pinkLight: #F9C0CB;
$pinkDark: #F16A77;
$blueLight: #4F64AE;
$blueDark: #293376;

$titleFont: 'Big John';
//$navFont: 'Slim Joe';
$navFont: 'Poppins Light';
$textFont: 'Poppins';


%section{
    
}

%h2{
    font-size: 10em;
    font-family: $titleFont;
    margin-bottom: 0;
}
%h1{
    font-size: 7em;
    font-family: $titleFont;
    color: #fff;
}
@media (max-width:992px){
    %h2{
        font-size: 8em;
    }
    %h1{
    font-size: 4em;
    }
}
@media (max-width:600px){
    %h2{
        font-size: 3em;
    }
    %h1{
    font-size: 2.5em;
    }
}




body, nav{
    box-shadow: none;
    background-color: $pinkLight;
   
}
main{
    margin-right: 30px;
    margin-left: 30px;
}

@media (max-width:600px){
    main{
        margin-right: 10px;
        margin-left: 10px;
    }
}

/* ------ NAV ----- */
nav {
    .logo-brand {
    color: $pinkDark;
    font-family: $navFont;
    font-size: 1.5em;  
    margin: 15px;
    text-transform: uppercase;    
    }
    .logo-brand:hover{
        text-decoration: overline;
        //font-size: 1.6em;
    }
    .sidenav-trigger{
        color: $pinkDark;
    }
    .sidenav-trigger:hover{
        color: $blueLight;
    }
    ul{
        a{
            font-family: $textFont;
            color: $pinkDark;
            font-size: 1.3em;  
        }
        a:hover{
            background-color: transparent;
            color:$blueLight;
            //text-decoration: overline;
        }
    }
    
}

/* ----- SIDE NAV -----*/

.sidenav{
    background-color: $pinkDark;
    opacity: 0.8;
    box-shadow: none;
    //transform: translateX(105%);
    
    font-family: $textFont;
    li{
        a{
            color: #fff;
            font-size: 3em;
            margin: 5px;
        }
        a:hover{
            color: $blueLight;
            background-color: transparent;
        }
        
    }
    .sidenav-close{
        color: #fff;
        margin: 10px;
    }
    .sidenav-close:hover{
        color: $blueLight;
    }
}
.sidenav-overlay{
    background-color: transparent;
    //background-color: $pinkDark;
    //opacity: 0.2;
}

/*-----BOUTON TOP-----*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    background-color:$pinkDark; 

}

/* ------ SECTION 1 HOME ----- */
.box{
    height: 600px;
}
/*@media (max-width:992px){
    .box{
        height: 400px;
    }
}*/
#section1{
    h1{
        @extend %h1;
        span{
            color: $blueLight;
        }
        span:hover{
            color: $pinkDark;
        }
    }
    p{
        color: $pinkDark;
        font-family: 'Poppins SemiBold';
    }
    p:hover{
        text-decoration:overline;
    }
    
}

/* ------ SECTION 2 ABOUT ----- */
#sectionAbout{
    background-image: url(./SVG/formeAbout.svg);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    h2{
        @extend %h2;
        color: $pinkDark;
    }
    #about{
        display: flex;
        justify-content: center;
        align-content: flex-start;
    }
    p{
        color: $blueLight;
        max-width: 600px;
        max-height: 400px;
        font-size:1.3em;
        padding: 30px;
    }
}
@media (max-width:992px){
    #sectionAbout{
    //background-size: 100%;    
    background-image: none;
    //background-color: #fff;    
        p{
            text-align: justify;
            color: #fff;
        }
    }
}
/* ------ SECTION 3 SKILLS  ----- */
#sectionSkills{
    #boxSkills{
        margin-top: 100px;
        /*min-height: 350px;*/
    }
    h2{
        @extend %h2;
        color: $blueLight;
    }
    #codeSkills{
        min-height: 350px;
        background-image: url(SVG/codeSkills.svg);
        background-repeat: no-repeat;
        background-size:70%;
        background-position: center;
        display: flex;
        justify-content: center;
        li{
            color: $pinkDark;
            font-size: 0.9em;
            padding-right: 20px;
            padding-left: 20px;
        }
        li:hover{
            background-image: url(SVG/symbolCode.svg);
            background-repeat:no-repeat;
            background-size:100%;
           
        }
    }
    @media (max-width:992px){
    #codeSkills{
    background-size:40%;
        }
    }
    @media (max-width:600px){
    #codeSkills{
    background-size:80%;
        }
    }    

    #designSkills{
        min-height: 350px;
        background-image: url(SVG/designSkills.svg);
        background-repeat: no-repeat;
        background-size:75%;
        background-position: center;
        display: flex;
        justify-content: center;
        li{
            color: $blueLight;
            padding: 5px;
        }
         li:hover{
            background-image: url(SVG/symbolDesign.svg);
            background-repeat:no-repeat;
            background-size:115%; 
        }
    }
    @media (max-width:992px){
    #designSkills{
    background-size:40%;
        }
    }
    @media (max-width:600px){
    #designSkills{
    background-size:80%;
        }
    }
    #softSkills{
        min-height: 350px;
        background-image: url(SVG/softSkills.svg);
        background-repeat: no-repeat;
        background-size:70%;
        background-position: center;
        display: flex;
        justify-content: center;
        li{
            color: $pinkDark;
            padding-right:15px;
            padding-left: 15px;
        }
        li:hover{
            background-image: url(SVG/symbolSoft.svg);
            background-repeat:no-repeat;
            background-size:105%; 
        }
    }
    @media (max-width:992px){
    #softSkills{
    background-size:40%;
        }
    }
    @media (max-width:600px){
    #softSkills{
    background-size:80%;
        }
    }
}

/* ------ SECTION 4 PORTFOLIO  ----- */

#sectionPortfolio{
    h2{
       @extend %h2;
        color: #fff;
        
        a{
            color: $pinkDark;
        }
        a:hover{
            color: $blueLight;
        }
        
    }
}
@media (max-width:992px){
    h2{
        font-size: 6em;
    }
}
/* ------ PAGE PORTFOLIO  ----- */

#portfolioBody, #navWhite {
    background-color: #fff;
    
}
#portfolioBody{
    h2{
        @extend %h2;
        color: $pinkDark;
    }
    h3{
        font-family: $titleFont;
        color: $pinkLight;
    }
    .web{
        em{
            //color: $blueLight;
        }
    }
    .graphic{
        em{
           // color: $pinkDark;
        }
    }
    a{
        color: $pinkDark;
    }

    .portfolioThumbs{
        padding: 15px;
        padding-bottom: 20px;
        //padding-top: 20px;
        
        
    }
    .portfolioThumbs:hover{
        
    }
    #projet1{
        //background-color: $blueLight;
        
    }
    .modal{
        width:80%;
        height: 80%;
    }

    #closeModal{
        color: $pinkDark;
    }
    h4{
        font-family: $titleFont
    }
    p{
        font-family: $textFont;
    }
}

/* ----- PAGE CONTACT -----*/

#contactBody{
    background-color: #fff;
    
    h2{
        @extend %h2;
        color: $pinkDark;
        font-size: 9em;
        margin-bottom: 20px;
    }
    #contact{
        background-image: url(SVG/formeContact.svg);
        background-repeat: no-repeat;
        background-size:85%;
        background-position: center;
        
        h3{
            font-family: $titleFont;
            color: #fff;
            font-size: 2em;
        }
        p{
            color: $pinkDark;
            font-family: 'Poppins SemiBold';
        }
        p:hover{
            
        }
        a{
            color: $pinkLight;
            margin: 10px;
            i{
                font-size: 1em;
                margin: 5px;
            }
        }
        a:hover{
           color: $pinkDark;
            
        }
        #stalk{
            i{
                font-size: 1.8em;
            }
        }
    }
}
@media (max-width:992px){
    #contactBody{
        background-color: $blueLight; 
        #contact{ 
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        h2{
            font-size: 6em;
        }
    }
}
@media (max-width:600px){
    #contact{
        h2{
            font-size: 2.5em;
            
        } 
    }
}
 
/* PAGINATION */
/*
.pag {
	position:fixed;
	left:50px;
	top: 50%;
  transform: translateY(-50%);

	font-size:1.4em;
	z-index: 10;
}
.pag a {
	display:block;
	height:20px;
	margin-bottom:5px;
	color:white;
	position:relative;
	padding:4px;
   
}
.pag a.active:after {
	box-shadow:inset 0 0 0 5px;
    //background-color: #fff;
}
.pag a .hover-text {
	position:absolute;
	right:15px;
	top:7px;
	opacity:0;
	-webkit-transition: opacity 0.5s ease;
	transition: opacity 0.5s ease;
	padding-right: 15px;
}
.pag a:hover .hover-text {
	opacity: 1;
}
.pag a:after {
	-webkit-transition:box-shadow 0.5s ease;
	transition:box-shadow 0.5s ease;
	width:10px;
	height:10px;
	display: block;
	border:1px solid;
	border-radius:50%;
	content:'';
	position: absolute;
	margin:auto;
	top:0;
	right:4px;
	bottom:0;
    color:#fff;
}
.panel4 .content {
  &.moved{
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0px, 0px, 0px);
  }
	text-align:center;
	opacity:0;
	-webkit-transition:all 0.8s ease 0.5s;
	transition:all 0.8s ease 0.5s;
	    -webkit-transform: translate3d(0px, 30px, 0px);
    transform: translate3d(0px, 30px, 0px);
	width:65%;
	margin:auto;
	left:0;
	right:0;
}
*/
