@import url('assets/fonts/BigJohnSlimJoe/BIGJOHN.otf');
@import url('assets/fonts/BigJohnSlimJoe/SlimJoe.otf');
@import url('assets/fonts/Poppins/Poppins-Regular.ttf');
@import url('assets/fonts/Poppins/Poppins-Black.ttf');
@import url('assets/fonts/Poppins/Poppins-Bold.ttf');
@import url('assets/fonts/Poppins/Poppins-ExtraBold.ttf');
@import url('assets/fonts/Poppins/Poppins-ExtraLight.ttf');
@import url('assets/fonts/Poppins/Poppins-Light.ttf');
@import url('assets/fonts/Poppins/Poppins-Medium.ttf');
@import url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
@import url('assets/fonts/Poppins/Poppins-Thin.ttf');


$pinkLight: #F9C0CB;
$pinkDark: #F16A77;
$blueLight: #4F64AE;
$blueDark: #293376;

$titleFont: 'Big John';
$navFont: 'Slim Joe';
$textFont: 'Poppins';


%section{
    
}

%h2{
    font-size: 10em;
    font-family: $titleFont;   
}

%h1{
    font-size: 7em;
    font-family: $titleFont;
    color: #fff;
}


body, nav{
    box-shadow: none;
    background-color: $pinkLight;
   
}

/* ------ NAV ----- */
nav {
    a {
    color: $pinkDark;
    font-family: $navFont;
    }
    ul{
        a{
            font-family: $textFont;
            color: $pinkDark;
        }
        a:hover{
            background-color: transparent;
        }
    }
    
}

/* ----- SIDE NAV -----*/

.sidenav{
    background-color: $pinkDark;
    opacity: 0.8;
    box-shadow: none;
    //transform: translateX(105%);
    
    font-family: $textFont;
    li{
        a{
            color: #fff;
            font-size: 3em;
            margin: 5px;
        }
        a:hover{
            color: $blueLight;
            background-color: transparent;
        }
        
    }
    .sidenav-close{
        color: #fff;
        margin: 10px;
    }
    .sidenav-close:hover{
        color: $blueLight;
    }
}
.sidenav-overlay{
    //background-color: transparent;
    background-color: $pinkDark;
}



/* ------ SECTION 1 HOME ----- */
.box{
    height: 600px;
}
#section1{
    h1{
        @extend %h1;
    }
    
}

/* ------ SECTION 2 ABOUT ----- */
#sectionAbout{
    background-image: url(./SVG/formeAbout.svg);
    background-repeat: no-repeat;
    background-size: 60%;
    background-position: center;
    h2{
        @extend %h2;
        color: $pinkDark;
    }
    p{
        color: $blueDark;
    }
}

/* ------ SECTION 3 SKILLS  ----- */
#sectionSkills{
    #boxSkills{
        /*min-height: 350px;*/
    }
    h2{
        @extend %h2;
        color: $blueLight;
    }
    #codeSkills{
        min-height: 350px;
        background-image: url(SVG/codeSkills.svg);
        background-repeat: no-repeat;
        background-size:65%;
        background-position: center;
        
        li{
            color: $pinkDark;
        }
    }
    #designSkills{
        min-height: 350px;
        background-image: url(SVG/designSkills.svg);
        background-repeat: no-repeat;
        background-size:75%;
        background-position: center;
        li{
            color: $blueLight;
        }
    }
    #softSkills{
        min-height: 350px;
        background-image: url(SVG/softSkills.svg);
        background-repeat: no-repeat;
        background-size:70%;
        background-position: center;
        li{
            color: $pinkDark;
        }
    }
}

/* ------ SECTION 4 PORTFOLIO  ----- */

#sectionPortfolio{
    h2{
       @extend %h2;
        color: #fff;
        
        a{
            color: $pinkDark;
        }
        a:hover{
            color: $blueLight;
        }
    }
}

/* ------ PAGE PORTFOLIO  ----- */

#portfolioBody, #navWhite {
    background-color: #fff;
    
}
#portfolioBody{
    h2{
        @extend %h2;
        color: $pinkDark;
    }
    .portfolioThumbs{
        padding: 15px;
        padding-bottom: 20px;
        padding-top: 20px;
        
    }
    .modal{
        width:80%;
        height: 80%;
    }

    #closeModal{
        color: $pinkDark;
    }
    h4{
        font-family: $titleFont
    }
    p{
        font-family: $textFont;
    }
}


